{% extends 'base.html' %}

{% block page_title %}{{ accion }} Proveedor{% endblock %}
{% block page_subtitle %}Ingresa los datos del proveedor.{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mt-4 d-flex justify-content-end gap-2">
                        <a href="{% url 'proveedores:lista_proveedores' %}" class="btn btn-outline-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-accent"><i class="bi bi-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
